In [ ]:
#!/Tsan/bin/python
# -*- coding: utf-8 -*-

In [80]:
# Libraries to use
from __future__ import division 
import numpy as np
import pandas as pd
import statsmodels.api as sm
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime
from sklearn.cluster import KMeans
import talib as tb
from scipy import stats

In [2]:
%matplotlib inline
%load_ext line_profiler

In [6]:
path = 'C:/Users/LZJF_02/Desktop/BacktestRA/'

In [71]:
filenameKKTest = 'KkRatioStrategy20170601-20171201.csv'
filenameKKTrain = 'KkRatioStrategy20160601-20170601.csv'

In [77]:
kkTest = pd.read_csv(path+filenameKKTest,infer_datetime_format=True,parse_dates=[0])
kkTrain = pd.read_csv(path+filenameKKTrain,infer_datetime_format=True,parse_dates=[0])
kkTest = calPosPeriod(kkTest)
kkTrain = calPosPeriod(kkTrain)

In [73]:
def calPosPeriod(df,barBin = 5):
    df.entryDt = df.entryDt.apply(lambda x:datetime.strptime(x,'%Y-%m-%d %H:%M:%S'))
    df.exitDt = df.exitDt.apply(lambda x:datetime.strptime(x,'%Y-%m-%d %H:%M:%S'))
    df['posPeriod'] = (df.exitDt - df.entryDt)
    df['posPeriod'] = df['posPeriod'].apply(lambda x: x.total_seconds() / 60 /barBin)
    return df

In [78]:
kkTest.describe()

,exitPrice,volume,turnover,commission,slippage,pnl,posPeriod
count,96.000000,96.000000,96.000000,96.000000,96.0,96.000000,96.000000
mean,3706.927083,0.145833,74071.041667,22.221312,20.0,23.612021,93.414583
std,228.328583,0.994502,4509.507495,1.352852,0.0,430.692289,136.597620
min,2959.000000,-1.000000,59440.000000,17.832000,20.0,-413.877000,1.600000
25%,3615.500000,-1.000000,72347.500000,21.704250,20.0,-275.162750,11.350000
50%,3727.000000,1.000000,74505.000000,22.351500,20.0,-92.665000,61.000000
75%,3845.250000,1.000000,76892.500000,23.067750,20.0,167.788000,104.500000
max,4098.000000,1.000000,81670.000000,24.501000,20.0,2426.381000,860.000000

In [79]:
kkTrain.describe()

,exitPrice,volume,turnover,commission,slippage,pnl,posPeriod
count,197.000000,197.000000,197.000000,197.000000,197.0,197.000000,197.000000
mean,2858.796954,0.197970,57161.776650,17.148533,20.0,52.242330,122.892386
std,421.791877,0.982706,8436.807622,2.531042,0.0,379.657858,276.142184
min,2055.000000,-1.000000,40920.000000,12.276000,20.0,-387.625000,1.000000
25%,2467.000000,-1.000000,49400.000000,14.820000,20.0,-208.063000,7.200000
50%,2968.000000,1.000000,59500.000000,17.850000,20.0,-65.231000,43.200000
75%,3170.000000,1.000000,63550.000000,19.065000,20.0,212.285000,129.000000
max,3655.000000,1.000000,73410.000000,22.023000,20.0,2630.305000,2876.000000

In [46]:
(datetime.strptime(kkTrain.exitDt.iloc[1], '%Y-%m-%d %H:%M:%S') - datetime.strptime(kkTrain.entryDt.iloc[1], '%Y-%m-%d %H:%M:%S')).total_seconds()

84240.0

In [25]:
kkTrain

,entryPrice,exitPrice,entryDt,exitDt,volume,turnover,commission,slippage,pnl
0,2155.0,2167.0,2016-06-13 10:55:00,2016-06-13 14:55:00,1.0,43220.0,12.966,20.0,87.034
1,2146.0,2083.0,2016-06-14 09:40:00,2016-06-15 09:04:00,-1.0,42290.0,12.687,20.0,597.313
2,2093.0,2077.0,2016-06-15 09:35:00,2016-06-15 10:55:00,1.0,41700.0,12.510,20.0,-192.510
3,2072.0,2074.0,2016-06-15 11:15:00,2016-06-15 14:15:00,-1.0,41460.0,12.438,20.0,-52.438
4,2087.0,2074.0,2016-06-15 21:05:00,2016-06-15 21:36:00,1.0,41610.0,12.483,20.0,-162.483
5,2037.0,2055.0,2016-06-16 22:15:00,2016-06-17 09:01:00,-1.0,40920.0,12.276,20.0,-212.276
6,2075.0,2078.0,2016-06-17 21:15:00,2016-06-20 09:00:00,1.0,41530.0,12.459,20.0,-2.459
7,2093.0,2094.0,2016-06-21 09:15:00,2016-06-21 11:00:00,1.0,41870.0,12.561,20.0,-22.561
8,2080.0,2096.0,2016-06-21 13:40:00,2016-06-21 21:10:00,-1.0,41760.0,12.528,20.0,-192.528
9,2118.0,2119.0,2016-06-22 09:10:00,2016-06-22 11:27:00,1.0,42370.0,12.711,20.0,-22.711
10,2146.0,2139.0,2016-06-22 21:05:00,2016-06-23 09:09:00,1.0,42850.0,12.855,20.0,-102.855
11,2163.0,2146.0,2016-06-23 21:25:00,2016-06-23 22:31:00,1.0,43090.0,12.927,20.0,-202.927
12,2148.0,2181.0,2016-06-24 21:30:00,2016-06-27 09:15:00,1.0,43290.0,12.987,20.0,297.013
13,2205.0,2263.0,2016-06-27 09:40:00,2016-06-27 21:36:00,1.0,44680.0,13.404,20.0,546.596
14,2253.0,2261.0,2016-06-28 21:05:00,2016-06-29 09:09:00,-1.0,45140.0,13.542,20.0,-113.542
15,2273.0,2313.0,2016-06-30 09:45:00,2016-06-30 13:37:00,1.0,45860.0,13.758,20.0,366.242
16,2391.0,2407.0,2016-07-01 21:10:00,2016-07-04 09:00:00,1.0,47980.0,14.394,20.0,125.606
17,2415.0,2431.0,2016-07-07 09:30:00,2016-07-07 13:39:00,1.0,48460.0,14.538,20.0,125.462
18,2418.0,2403.0,2016-07-08 09:15:00,2016-07-08 09:45:00,1.0,48210.0,14.463,20.0,-184.463
19,2432.0,2459.0,2016-07-08 14:50:00,2016-07-08 21:11:00,1.0,48910.0,14.673,20.0,235.327
20,2473.0,2497.0,2016-07-12 09:25:00,2016-07-12 11:09:00,1.0,49700.0,14.910,20.0,205.090
21,2482.0,2435.0,2016-07-15 21:45:00,2016-07-18 09:18:00,-1.0,49170.0,14.751,20.0,435.249
22,2437.0,2420.0,2016-07-18 09:25:00,2016-07-18 13:44:00,-1.0,48570.0,14.571,20.0,135.429
23,2357.0,2408.0,2016-07-21 11:00:00,2016-07-21 14:51:00,1.0,47650.0,14.295,20.0,475.705
24,2336.0,2319.0,2016-07-22 10:30:00,2016-07-22 14:06:00,-1.0,46550.0,13.965,20.0,136.035
25,2315.0,2332.0,2016-07-25 21:30:00,2016-07-25 22:52:00,-1.0,46470.0,13.941,20.0,-203.941
26,2439.0,2420.0,2016-07-29 10:45:00,2016-07-29 21:00:00,-1.0,48590.0,14.577,20.0,155.423
27,2392.0,2407.0,2016-07-29 21:55:00,2016-07-29 22:33:00,-1.0,47990.0,14.397,20.0,-184.397
28,2524.0,2504.0,2016-08-02 14:00:00,2016-08-02 14:22:00,1.0,50280.0,15.084,20.0,-235.084
29,2469.0,2494.0,2016-08-03 21:30:00,2016-08-03 22:16:00,-1.0,49630.0,14.889,20.0,-284.889
...,...,...,...,...,...,...,...,...,...
167,2970.0,2992.0,2017-04-10 21:25:00,2017-04-10 21:56:00,-1.0,59620.0,17.886,20.0,-257.886
168,2984.0,3013.0,2017-04-11 09:15:00,2017-04-11 11:18:00,-1.0,59970.0,17.991,20.0,-327.991
169,2965.0,2940.0,2017-04-11 21:45:00,2017-04-12 09:00:00,-1.0,59050.0,17.715,20.0,212.285
170,2955.0,2931.0,2017-04-13 13:45:00,2017-04-13 14:31:00,1.0,58860.0,17.658,20.0,-277.658
171,2924.0,2936.0,2017-04-14 13:40:00,2017-04-14 14:59:00,-1.0,58600.0,17.580,20.0,-157.580
172,2854.0,2839.0,2017-04-18 10:55:00,2017-04-18 21:45:00,-1.0,56930.0,17.079,20.0,112.921
173,2835.0,2803.0,2017-04-20 10:50:00,2017-04-20 14:14:00,-1.0,56380.0,16.914,20.0,283.086
174,2956.0,2937.0,2017-04-21 13:35:00,2017-04-21 14:09:00,1.0,58930.0,17.679,20.0,-227.679
175,2873.0,2880.0,2017-04-24 09:30:00,2017-04-24 11:21:00,-1.0,57530.0,17.259,20.0,-107.259
176,2932.0,2908.0,2017-04-24 21:15:00,2017-04-24 21:40:00,1.0,58400.0,17.520,20.0,-277.520
177,3019.0,3002.0,2017-04-26 13:45:00,2017-04-26 14:39:00,1.0,60210.0,18.063,20.0,-208.063
178,3006.0,3054.0,2017-04-27 14:15:00,2017-04-28 10:07:00,1.0,60600.0,18.180,20.0,441.820
179,3097.0,3069.0,2017-04-28 13:40:00,2017-04-28 14:00:00,1.0,61660.0,18.498,20.0,-318.498
180,3150.0,3128.0,2017-05-02 09:10:00,2017-05-02 10:45:00,1.0,62780.0,18.834,20.0,-258.834
181,3128.0,3111.0,2017-05-03 13:45:00,2017-05-03 21:00:00,1.0,62390.0,18.717,20.0,-208.717
182,3084.0,3010.0,2017-05-03 21:45:00,2017-05-04 09:23:00,-1.0,60940.0,18.282,20.0,701.718
183,2977.0,3019.0,2017-05-05 21:15:00,2017-05-08 09:05:00,1.0,59960.0,17.988,20.0,382.012
184,3012.0,2989.0,2017-05-08 14:10:00,2017-05-08 14:26:00,1.0,60010.0,18.003,20.0,-268.003
185,3025.0,3005.0,2017-05-09 09:20:00,2017-05-09 09:41:00,1.0,60300.0,18.090,20.0,-238.090
186,3099.0,3077.0,2017-05-10 21:10:00,2017-05-10 21:24:00,1.0,61760.0,18.528,20.0,-258.528
187,2983.0,3003.0,2017-05-11 09:45:00,2017-05-11 14:02:00,-1.0,59860.0,17.958,20.0,-237.958
188,2966.0,2994.0,2017-05-15 21:35:00,2017-05-15 22:58:00,-1.0,59600.0,17.880,20.0,-317.880
189,3041.0,3099.0,2017-05-16 21:50:00,2017-05-18 09:06:00,1.0,61400.0,18.420,20.0,541.580
190,3124.0,3118.0,2017-05-18 13:35:00,2017-05-18 21:00:00,1.0,62420.0,18.726,20.0,-98.726
191,3176.0,3191.0,2017-05-18 22:25:00,2017-05-19 09:37:00,1.0,63670.0,19.101,20.0,110.899
192,3277.0,3327.0,2017-05-19 21:40:00,2017-05-22 09:05:00,1.0,66040.0,19.812,20.0,460.188
193,3258.0,3232.0,2017-05-24 14:45:00,2017-05-24 21:13:00,1.0,64900.0,19.470,20.0,-299.470
194,3292.0,3265.0,2017-05-25 11:00:00,2017-05-25 11:26:00,1.0,65570.0,19.671,20.0,-309.671
195,3215.0,3237.0,2017-05-26 13:45:00,2017-05-31 09:14:00,1.0,64520.0,19.356,20.0,180.644
196,3185.0,3103.0,2017-05-31 10:00:00,2017-05-31 22:58:00,-1.0,62880.0,18.864,20.0,781.136

In [13]:
kkTest.describe()

         exitPrice     volume      turnover  commission  slippage          pnl
count    96.000000  96.000000     96.000000   96.000000      96.0    96.000000
mean   3706.927083   0.145833  74071.041667   22.221312      20.0    23.612021
std     228.328583   0.994502   4509.507495    1.352852       0.0   430.692289
min    2959.000000  -1.000000  59440.000000   17.832000      20.0  -413.877000
25%    3615.500000  -1.000000  72347.500000   21.704250      20.0  -275.162750
50%    3727.000000   1.000000  74505.000000   22.351500      20.0   -92.665000
75%    3845.250000   1.000000  76892.500000   23.067750      20.0   167.788000
max    4098.000000   1.000000  81670.000000   24.501000      20.0  2426.381000

In [14]:
kkTrain .describe()

,exitPrice,volume,turnover,commission,slippage,pnl
count,197.000000,197.000000,197.000000,197.000000,197.0,197.000000
mean,2858.796954,0.197970,57161.776650,17.148533,20.0,52.242330
std,421.791877,0.982706,8436.807622,2.531042,0.0,379.657858
min,2055.000000,-1.000000,40920.000000,12.276000,20.0,-387.625000
25%,2467.000000,-1.000000,49400.000000,14.820000,20.0,-208.063000
50%,2968.000000,1.000000,59500.000000,17.850000,20.0,-65.231000
75%,3170.000000,1.000000,63550.000000,19.065000,20.0,212.285000
max,3655.000000,1.000000,73410.000000,22.023000,20.0,2630.305000

In [115]:
pValueList = []
for i in xrange(10000):
    pValueList.append(stats.ttest_rel(np.random.choice(kkTrain.pnl.values,min(kkTest.shape[0],kkTrain.shape[0])), kkTest.pnl.values).pvalue)   
pValueSeries = pd.Series(pValueList)
pValueSeries.describe()

count    10000.000000
mean         0.570841
std          0.260259
min          0.003174
25%          0.360302
50%          0.586430
75%          0.792447
max          0.999971
dtype: float64

In [116]:
pValueSeries.quantile(0.05)

0.13788764978952164

In [117]:
# 根据pValue的均值和中位数以及5%的分位数可以看出 P-Value是大概率远大于0.05的，所以接受原假设，及两组PNL方差相同，收益稳定。